@model UserViewModel




<h3>@Model.ApplicationUser.Name</h3>






@if(Enumerable.Count(ViewBag.CarsWithoutDriver) != 0) { 
    <form asp-controller="Request" asp-action="CreateDrivingRequest" method="post" enctype="multipart/form-data"> 
        <input asp-for="ApplicationUser.Id" type="hidden" />
        <select asp-for="IdCarWithoutDriver">
            @foreach(var cr in ViewBag.CarsWithoutDriver)
            {
                <option value="@cr.IdCar">@cr.CarModel</option>
            }
        </select>
        <input type="submit" value="SendRequest"/>
    </form>
}