@model GroupViewModel

@{
    ViewBag.Title = "Група за номером {0}" + Model.IdGroup;
}



<div>
    <span>Ваша група складається з таких машин</span>
    @*<ul>
        @foreach(var cr in Model.)
    </ul>*@
</div>