@model GroupViewModel

@{
    ViewBag.Title = "Нова group";
}

<div>
    <form asp-controller="Groups" asp-action="CreateGroup" method="post">
        <div>
            <label>
                Enter group name
            </label>
            <input asp-for="GroupName" />

            @if (Model.IdGroup != 0)
            {

                <h3>Додайте до групи машини</h3>

                <ul>
                    @foreach (var cr in Model.Cars)
                    {
                        <li>
                            @cr.CarModel
                        </li>
                    }
                </ul>
            }
        </div>

        <input type="submit" />
    </form>
</div>