@model GroupViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["new"];
}

<div>
    <form asp-controller="Groups" asp-action="CreateGroup" method="post">
        <div>
            <label>
                @Localizer["groupName"]
            </label>
            <input asp-for="GroupName" />

            @if (Model.IdGroup != 0)
            {

                <h3>@Localizer["addCars"]</h3>

                <ul>
                    @foreach (var cr in Model.Cars)
                    {
                        <li>
                            @cr.CarModel
                        </li>
                    }
                </ul>
            }
        </div>

        <input class="btn btn-success" type="submit" value="@Localizer["create"]" />
    </form>
</div>