@model Group

@{
    ViewBag.Title = "Нова group";
}

<div>
    <form asp-controller="Groups" asp-action="CreateGroup" method="post">
        <h1>Desctibe the best car you can imagine</h1>
    </form>
</div>