@model GroupViewModel

@{
    ViewBag.Title = "Нова group";
}

<div>
    <form asp-controller="Groups" asp-action="CreateGroup" method="post">
        <div>
            <label>
                Enter group name
            </label>
            <input asp-for="GroupName"/>
            <h3>Додайте до неї машини(можна буде редагувати)</h3>

            <ul>
                @foreach(var cr in Model.Cars)
                {
                    <li>
                        @cr.CarModel
                    </li>
                }
            </ul>
        </div>
    </form>
</div>