@model IEnumerable<Group>

@{
    ViewBag.Title = "Ващі машини";
}

@if (Model.Count() == 0)
{
    <h3>У вас ще не мае груп</h3>
    <a asp-controller="Groups" asp-action="CreateGroup">Додайте</a>
}
else
{
    <ul>
        @foreach (var cr in Model)
        {
            <li>
                Одна з ваших груп - @cr.IdGroup
            </li>
        }

    </ul>
}