@model ListViewModel<Group>

@{
    ViewBag.Title = "Ващі машини";
}

@if (Enumerable.Count(Model.List) == 0)
{
    <h3>Ви ще не маєте  жодної групи</h3>
    <a asp-controller="Groups" asp-action="CreateGroup">Додайте</a>
}
else
{
    <ul>
        @foreach (var cr in Model.List)
        {

            <li>
                Одна з ваших груп -<a asp-controller="Groups" asp-action="AGroup" asp-route-idOfGroup="@cr.IdGroup">
                    @cr.GroupName
                </a>
            </li>
        }
    </ul>

    <div>
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Groups" asp-action="GroupList" asp-route-pageNumber="@(Model.PageNumber-1)">Previous page</a>

        }
        @if (Model.CanNext)
        {

            <a asp-controller="Groups" asp-action="GroupList" asp-route-pageNumber="@(Model.PageNumber+1)">Next page</a>
        }
    </div>
}