@model RegisterViewModel


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
}

<div class="text-center">
    <form asp-controller="Auth" asp-action="Reset" method="post">
        <input asp-for="Email" placeholder="@Localizer["placeholder"]" />

        <input class="btn btn-success" type="submit" value="@Localizer["reset"]" />
    </form>

</div>



