@model CargoViewModel

@{
    ViewBag.Title = Model.CargoName;
}



<h3>@Model.CargoName </h3>

@if (!String.IsNullOrEmpty(Model.Photo))
{
    var imagePath = $"/content/webs/{Model.Photo}";
    <img src="@imagePath" />
}

@if (Enumerable.Count(ViewBag.GroupsToOffer) > 0)
{
    <form asp-controller="Request" asp-action="CreateCompanyToUser" method="post" enctype="multipart/form-data">
        <input asp-for="Id_Cargo" type="hidden" />
        <input asp-for="Id_Owner.Id" type="hidden" />
        <select asp-for="idGroup">
            @foreach (var cr in ViewBag.GroupsToOffer)
            {
                <option value="@cr.IdGroup">@cr.GroupName</option>
            }
        </select>
        <input type="submit" value="SendRequest" />
    </form>

}