@model CargoViewModel


@{
    ViewBag.Title = "Create cargo";
}



<div>
    <form asp-controller="Cargo" asp-action="CreateCargo" method="post" enctype="multipart/form-data">
        <input asp-for="Id_Cargo" type="hidden" />
        <div>
            <label>
                CargoName
            </label>
            <input asp-for="CargoName" />
        </div>
        <div>
            <label>
                DeparturePoint
            </label>
            <input asp-for="DeparturePoint" />
        </div>
        <div>
            <label>
                DestinationPoint
            </label>
            <input asp-for="DestinationPoint" />
        </div>
        <div>
            <label>
                Weight
            </label>
            <input asp-for="Weight" />
        </div>
        <div>
            <label>
                CargoType
            </label>
            <input asp-for="CargoType" />
        </div>
        <div>
            <label>
                Height
            </label>
            <input asp-for="Height" />
        </div>
        <div>
            <label>
                Width
            </label>
            <input asp-for="Width" />
        </div>
        <div>
            <label>
                Length
            </label>
            <input asp-for="Length" />
        </div>
        <div>
            <label>
                Photo
            </label>
            <input asp-for="Image" />
        </div>
        <input type="submit" value="AddMeow"/>
    </form>
</div>