@model CargoViewModel


@{
    ViewBag.Title = "Create cargo";
}




<form asp-controller="Cargo" asp-action="CreateCargo" method="post" enctype="multipart/form-data">
    <table align="center">
        <tr>
            <td>

                <input asp-for="Id_Cargo" type="hidden" />
            </td>

        </tr>

        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Назва вантажу - 
                </label>
            </td>
            <td>
                <input asp-for="CargoName" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Місце відправлення - 
                </label>
            </td>
            <td>
                <input asp-for="DeparturePoint" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Місце призначення - 
                </label>
            </td>
            <td>
                <input asp-for="DestinationPoint" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Вага(кг) - 
                </label>
            </td>
            <td>
                <input asp-for="Weight" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Тип вантажу - 
                </label>
            </td>
            <td>
                <select asp-for="CargoType">
                    <option value="box">Коробки</option>
                    <option value="solid">Твердий</option>
                    <option value="liquid">Рідкий</option>
                    <option value="loose">Сипучий</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>Чи може бути розділений?</label> @Html.CheckBox("CanBeSepateted", Model.CanBeSepateted)
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Висота
                </label>
            </td>
            <td>
                <input asp-for="Height" placeholder="Використовуюється для розрахунку об'єму вантажа. Якщо тип вантажу не передбачає чітких розміров(сипучий, рідкий) то залиште це поле порожнім" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2"  >
                    Ширина
                </label>
            </td>
            <td>
                <input asp-for="Width" placeholder="Використовуюється для розрахунку об'єму вантажа. Якщо тип вантажу не передбачає чітких розміров(сипучий, рідкий) то залиште це поле порожнім"  />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Довжина
                </label>
            </td>
            <td>
                <input asp-for="Length" placeholder="Використовуюється для розрахунку об'єму вантажа. Якщо тип вантажу не передбачає чітких розміров(сипучий, рідкий) то залиште це поле порожнім" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Об'єм - 
                </label>
            </td>
            <td>
                <input asp-for="Bulk" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    Фотографія - 
                </label>
            </td>
            <td>
                <input asp-for="Image" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Додати вантаж" />
            </td>
        </tr>
    </table>
</form>
