@model Car 

@{ 
    ViewBag.Title = "Нова машина";
}

<div>
    <form asp-controller="CarController" asp-action="CreateCar" method="post">
        <h1>Desctibe the best car you can imagine</h1>
    </form>
</div>