<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CargoWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/mainpage.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>

    <ul class="list-inline">
        <li class="list-inline-item ">
            <button asp-controller="Home" asp-action="Index">
                Головна
            </button>
        </li>


        @if (User.Identity.IsAuthenticated)
        {
            <li class="list-inline-item ">

                <ul class="dropdown">
                    <li class="dropdown-item">
                        <a asp-controller="Car" asp-action="CreateCar">Створити машину</a>
                    </li>
                    <li class="dropdown-item">
                        <a asp-controller="CarController" asp-action="ImDriving">Я керую</a>
                    </li>
                    <li class="dropdown-item">
                        <a asp-controller="Car" asp-action="MyCars">Мої машини</a>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="dropdown">
                    <li class="dropdown-item">
                        <a asp-controller="Group" asp-action="CreateGroup">Створити групу</a>
                    </li>
                    <li class="dropdown-item">
                        <a asp-controller="Group" asp-action="GroupList">My groups</a>
                    </li>

                </ul>
            </li>
            <li class="list-inline-item ">

                <ul class="dropdown">
                    <li class="dropdown-item">
                        <a asp-controller="Cargo" asp-action="CreateCago">Створити вантаж</a>
                    </li>
                    <li class="dropdown-item">
                        <a asp-controller="Cargo" asp-action="CargoList">Список вантажів</a>
                    </li>
                </ul>
            </li>
            <a asp-controller="Auth" asp-action="Logout"> Log out</a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="Login"> Log in</a>
        }
    </ul>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="float-left"> Зроблено Безуглим Іллєю як проект з АПЗ</p>
            <p class="float-right">(c) 2019 Всі права захищені</p>
        </div>
    </footer>

</body>
</html>