<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css " rel="stylesheet " />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-light bg-dark border-bottom  mb-3">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    Cargo world
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item ">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" style="background-color : transparent" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Машини
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Car" asp-action="CreateCar">Створити машину</a>
                                        <a class="dropdown-item" asp-controller="Car" asp-action="ImDriving">Я керую</a>
                                        <a class="dropdown-item" asp-controller="Car" asp-action="MyCars">Мої машини</a>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item ml-1">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" style="background-color : transparent" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Групи
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Groups" asp-action="CreateGroup">Створити групу</a>
                                        <a class="dropdown-item" asp-controller="Groups" asp-action="GroupList">Мої групи</a>
                                    </div>
                                </div>
                            </li>


                            <li class="nav-item ml-1">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" style="background-color : transparent" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Вантажі
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Cargo" asp-action="CreateCargo">Створити вантаж</a>
                                        <a class="dropdown-item" asp-controller="Cargo" asp-action="CargoList">Список вантажів</a>
                                        <a class="dropdown-item" asp-controller="Cargo" asp-action="IMTransporting">Вантажі що я перевожу</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item ml-1">
                                <div class="dropdown show">
                                    <a class="btn btn-secondary dropdown-toggle" style="background-color : transparent" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Запити
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" asp-controller="Request" asp-action="DrivingRequest"> На водіння</a>
                                        <a class="dropdown-item" asp-controller="Request" asp-action="CompanyToUser"> Ваш вантаж пропонують перевезти</a>
                                        <a class="dropdown-item" asp-controller="Request" asp-action="UserToCompany"> На перевезення вами </a>
                                    </div>
                                </div>
                            </li>

                            

                            <li class="nav-item ml-1">
                                <form asp-controller="Home" asp-action="Search" method="get" enctype="multipart/form-data">
                                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Введіть пошуковий запит" />
                                </form>
                            </li>

                            <li class="nav-item ml-3 pt-2">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <a asp-controller="Auth" asp-action="Logout"> Log out</a>
                            </li>

                            @if (User.IsInRole("Admin"))
                            {
                                //Админ панель со списком всякого
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-controller="Auth" asp-action="Login"> Log in</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container fixed-bottom">
        <p class="float-right">(c) 2019 Всі права захищені</p>
        <p class="float-right"> Зроблено Безуглим Іллєю як проект з АПЗ</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>