@model CarViewModel

@{
    ViewBag.Title = "Нова машина";
}

<div>
    <form asp-controller="Car" asp-action="CreateCar" method="post" enctype="multipart/form-data">
        <table  align="center">
            <tr>
                <td>

                    <input  asp-for="IdCar" type="hidden" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Модель машини - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarModel" />
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Номер кузову - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarcassNumber" />
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Реєстраційний номер - 
                    </label>
                </td>
                <td>
                    <input asp-for="RegistrationNumber" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Колір - 
                    </label>
                </td>
                <td>
                    <input asp-for="Color" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Тип машини - 
                    </label>
                </td>
                <td>
                    <select asp-for="CarType">
                        <option value="До 0.8тг">До 0.8т</option>
                        <option value="До 1.5т">До 1.5т</option>
                        <option value="До 3т">До 3т</option>
                        <option value="До 5т">До 5т</option>
                        <option value="До 10т">До 10т</option>
                        <option value="До 20т">До 20т</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Тип перевозимого вантажу - 
                    </label>
                </td>
                <td>
                    <select asp-for="CargoType">
                        <option value="box">Коробки</option>
                        <option value="solid">Твердий</option>
                        <option value="liquid">Рідкий</option>
                        <option value="loose">Сипучий</option>
                    </select>
                </td>
            </tr>
            @*<tr>
                <td>
                    <label class="mb-2 mt-2">
                        Вантажопідйомність - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarryingCapacity" />
                </td>
            </tr>*@
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Об'єм вантажного відділення(м2)
                    </label>
                </td>
                <td>
                    <input asp-for="CarryingCapacitySqM" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Висота багажного відділення(м) -
                    </label>
                </td>
                <td>
                    <input asp-for="HeightCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Ширина багажного відділення(м) - 
                    </label>
                </td>
                <td>
                    <input asp-for="WidthCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Довжина багажного відділення(м) -
                    </label>
                </td>
                <td>
                    <input asp-for="LengthCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Ціна в гривнях за км. їзди
                    </label>
                </td>
                <td>
                    <input asp-for="CostPerKm" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Фотографія машини
                    </label>
                </td>
                <td>
                    <input asp-for="Image" />
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Додати" />
                </td>
            </tr>

        </table>
    </form>
</div>
