@model CarViewModel

@{ 
    ViewBag.Title = "Нова машина";
}

<div>
    <form asp-controller="Car" asp-action="CreateCar" method="post" enctype="multipart/form-data">
        <input asp-for="IdCar" type="hidden"/>
        <div>
            <label>
                Car model
            </label>
            <input asp-for="CarModel" />
        </div>
        <div>
            <label>
                CarcassNumber
            </label>
            <input asp-for="CarcassNumber" />
        </div>
        <div>
            <label>
                RegistrationNumber
            </label>
            <input asp-for="RegistrationNumber" />
        </div>
        <div>
            <label>
                Color
            </label>
            <input asp-for="Color" />
        </div>
        <div>
            <label>
                CarType
            </label>
            <input asp-for="CarType" />
        </div>
         <div>
             <label>
                 CargoType
             </label>
            <input asp-for="CargoType" />
        </div>
         <div>
             <label>
                 CarryingCapacity
             </label>
            <input asp-for="CarryingCapacity" />
        </div>
         <div>
             <label>
                 CarryingCapacitySqM
             </label>
            <input asp-for="CarryingCapacitySqM" />
        </div>
         <div>
             <label>
                 HeightCargoCompartment
             </label>
            <input asp-for="HeightCargoCompartment" />
        </div>
         <div>
             <label>
                 WidthCargoCompartment
             </label>
            <input asp-for="WidthCargoCompartment" />
        </div>
         <div>
             <label>
                 LengthCargoCompartment
             </label>
            <input asp-for="LengthCargoCompartment" />
        </div>
         <div>
             <label>
                 CostPerKm
             </label>
            <input asp-for="CostPerKm" />
        </div>
         <div>
             <label>
                 Image
             </label>
             <input asp-for="Image" type="hidden" />
         </div>
         

        <input type="submit" value="Add the car " />
    </form>
</div>
