@model CarViewModel

@{
    ViewBag.Title = "Нова машина";
}

<div>
    <form asp-controller="Car" asp-action="CreateCar" method="post" enctype="multipart/form-data">
        <table  align="center">
            <tr>
                <td>

                    <input  asp-for="IdCar" type="hidden" />
                </td>
            </tr>

            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Модель машини - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarModel" />
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Номер кузову - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarcassNumber" />
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Реєстраційний номер - 
                    </label>
                </td>
                <td>
                    <input asp-for="RegistrationNumber" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Колір - 
                    </label>
                </td>
                <td>
                    <input asp-for="Color" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Тип машини - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarType" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Тип перевозимого вантажу - 
                    </label>
                </td>
                <td>
                    <input asp-for="CargoType" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Вантажопідйомність - 
                    </label>
                </td>
                <td>
                    <input asp-for="CarryingCapacity" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Об'єм вантажного відділення
                    </label>
                </td>
                <td>
                    <input asp-for="CarryingCapacitySqM" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Висота багажного відділення - 
                    </label>
                </td>
                <td>
                    <input asp-for="HeightCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Ширина багажного відділення - 
                    </label>
                </td>
                <td>
                    <input asp-for="WidthCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Довжина багажного відділення - 
                    </label>
                </td>
                <td>
                    <input asp-for="LengthCargoCompartment" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Ціна в гривнях за км. їзди
                    </label>
                </td>
                <td>
                    <input asp-for="CostPerKm" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        Фотографія машини
                    </label>
                </td>
                <td>
                    <input asp-for="Image" />
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="Додати" />
                </td>
            </tr>

        </table>
    </form>
</div>
